In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('namesbystate/AZ.TXT')
df.head()

   AZ  F  1910      Mary  74
0  AZ  F  1910     Maria  29
1  AZ  F  1910     Alice  27
2  AZ  F  1910  Margaret  19
3  AZ  F  1910     Helen  18
4  AZ  F  1910   Frances  17